<!-- partyBoardMainPage.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Party Board</title>
</head>
<body>
        <!-- 네비게이션 바  여기있는건 다른곳과 다름  -->
	<div class="navbar">
	    <a th:href="@{'/partyBoardMainPage/' + ${party.partyId}}">BOARD</a>
	    <a th:href="@{'/partyGameMainPage/' + ${party.partyId}}">GAME</a>
	    <a th:href="@{'/partyChatMainPage/' + ${party.partyId}}">CHAT</a>
	    <a th:href="@{'/partyFileMainPage/' + ${party.partyId}}">FILE</a>
	    <a th:href="@{'/partySettingPage/' + ${party.partyId}}">SETTINGS</a>
	</div>
    
    <!-- 현재 파티 정보 -->
    <div>
        <p th:text="'Party: ' + ${party.partyName}">Party Name</p>
        <p th:text="'Party ID: ' + ${party.partyId}">Party ID</p>
        <p th:text="'username: ' + ${user.username}">Party ID</p>
        <p th:text="'email: ' + ${user.email}">Party ID</p>
    </div>
    <!-- 게시글 목록 -->
    <h2>Posts</h2>
    <ul>
        <th:block th:each="post : ${posts}">
            <li>
                <a th:href="@{'/partyBoardViewPage/' + ${post.postId}}"
                   th:text="${post.title}">Post Title</a>
            </li>
        </th:block>
    </ul>
    <!-- 새 게시글 작성 -->
    <a href="/partyBoardCreatePage">Create New Post</a>
</body>
</html>
