<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>사이드 바 존재 형식</title>
	<link rel="stylesheet" href="/styles/basic/header.css">   <!--헤더임 -->
	<link rel="stylesheet" href="/styles/user/basic.css">   <!--기본 레이아웃-->
	<link rel="stylesheet" href="/styles/basic/footer.css">   <!--풋타임-->
<style>
  .toolbar {
    background-color: #ddd; /* 툴바 색상 */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .row {
    margin: 10px 0;
    padding: 10px;
    background-color: #eef;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
</style>
</head>
<body>
   
<!--헤더 여기에-->   
<div th:replace="~{reuse/header2 :: header}"></div>

<!--네비게이션 여기에-->   


<!--페이지 내용 여기에-->
<div class="page-container">
  <!--3/4-->
  <div class="page-right">
    <div class="page-inner-container">
      <!--내용 여기에-->
      <a href="/logout">Logout</a>
      <h1>Welcome to your Page</h1>

      <p>Username: <span th:text="${user.username}"></span></p>
      <p>Email: <span th:text="${user.email}"></span></p>
      <p>Created At: <span th:text="${user.createdAt}"></span></p>


      <a href="/userPersonalPartyCratePage">Create or Join Party</a>
      <h2>Your Parties</h2>
         <ul>
             <li th:each="party : ${parties}">
                 <a th:href="'/partyBoardMainPage/' + ${party.partyId}" th:text="${party.partyName}"></a>
             </li>
         </ul>

       <a href="/userPersonalSettingPage">Setting</a>
     
    </div>
  </div>
</div>

<!--풋터 여기에-->   
<div th:replace="~{reuse/footer :: footer}"></div>
</body>
</html>